{% extends 'main.html' %}
{% load static %}
{% block contenido %}
  


<title>Blogsito - Iniciar sesion</title>
<header class="log">
    <div class="container position-relative px-4 px-lg0">
        <div class="row gx-4 gx-lg-3 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
            </div>
        </div>
    </div>
</header>
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
      
    </style>
    <!-- Jumbotron -->
<div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
    <!--INPUT-->
                <article class="mb-4">
                    <div class="container px-4 px-lg-5">
                        <div class="row gx-4 gx-lg-5 justify-content-center">
                            <div class="col-md-10 col-lg-8 col-xl-7">
                                <div class="form-outline mb-4" >
                                    <div class="text-align-center">  
                                <h1> Iniciar sesion</h1>
                                <h6><form method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                </h6>
                                <button type="submit" class="btn btn-primary btn-block mb-4"style="font-family: 'Lora';"font-style: italic;>Iniciar Sesion</button>
                            </div>
                        </div>
                    </div>
</article>
                <!-- Register buttons -->
                <div class="text-center">
                  <p style="font-family: 'Lora';"font-style: italic;><a href="{%url 'registro'%}">Registrate aqui<a></a></p>
                  
                 
                  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                    
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    
</section>

{% endblock %}