{% extends 'main.html' %}
{% load static %}
{% block contenido %}
{% if user.is_authenticated %}
<title>Blogsito - Post</title>
<header class="write">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1> Agregar nuevo post </h1>
                <h6><form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                </h6>
                <button class="btn btn-secondary">Post</button>
            </div>
        </div>
    </div>
</article>
{% else %}
<html>
    <head>
        <title>HTML Meta Tag</title>
        <meta http-equiv = "refresh" content = "2; url = /" />
    </head>
    <body>
        <h1> FORBIDDEN</h1>
    </body>
</html>

{% endif %}
    
{% endblock %}